extends layout

block content
	nav(class='navbar navbar-inverse navbar-fixed-top')
		div(class='container-fluid')
			div(class='navbar-header')
				a(class='navbar-brand', href="/") GlobeTrotter
			if !authorised
				div(id="navbar", class="navbar-collapse collapse")
					form(class='navbar-form navbar-right')
						button(type='button', class='btn btn-primary', data-toggle='modal', data-target='#signupModal') Sign up
						button(type='button', class='btn btn-info', data-toggle='modal', data-target='#loginModal') Log in
			else 
				div(id="navbar", class="navbar-collapse collapse")
					form(
						class='navbar-form navbar-right'
						role="form"
						action='/user/logout'
						method='post'
					)
						button(type='submit', class='btn btn-primary') Log out
	if !authorised
		div(class='modal fade', id='signupModal', tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
			div(class='modal-dialog', role='document')
				div(class='modal-content')
					div(class='modal-header')
						button(type="button", class="close", data-dismiss="modal", aria-label="Close")
							span(aria-hidden='true') &times;
						h4(class='modal-title', id='myModalLabel') Sign up
					div(class='modal-body')
						form(
							role="form"
							action='/user/register'
							method='post'
						)
							div(class='form-group')
								label(for='emailInput') Email
								input(type='email', class='form-control', id='emailInput', placeholder='Email', name='email')
							div(class='form-group')
								label(for='password1Input') Password
								input(type='password', class='form-control', id='password1Input', placeholder='Password', name='pass')
							div(class='form-group')
								label(for='password2Input') Confirm Password
								input(type='password', class='form-control', id='password2Input', placeholder='Confirm Password', name='passconfirm')
							div(class='form-group')
								button(type='submit', class='btn btn-primary') Sign Up
					div(class='modal-footer')
						button(type="button", class="btn btn-default", data-dismiss="modal") Close

		div(class='modal fade', id='loginModal', tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
			div(class='modal-dialog', role='document')
				div(class='modal-content')
					div(class='modal-header')
						button(type="button", class="close", data-dismiss="modal", aria-label="Close")
							span(aria-hidden='true') &times;
						h4(class='modal-title', id='myModalLabel') Login
					div(class='modal-body')
						form(
							role="form"
							action='/user/login'
							method='post'
						)
							div(class='form-group')
								label(for='emailInput') Email
								input(type='email', class='form-control', id='emailInput', placeholder='Email', name='email')
							div(class='form-group')
								label(for='password1Input') Password
								input(type='password', class='form-control', id='password1Input', placeholder='Password', name='pass')
							div(class='form-group')
								button(type='submit', class='btn btn-primary') Log in
					div(class='modal-footer')
						button(type="button", class="btn btn-default", data-dismiss="modal") Close	

	div(class='container theme-showcase')
		div(class="page-header" id="top")
			h1 #{address}
		ol(class="breadcrumb")
			li 
				a(href="/") Home
			li
				a(href="#") Australia
			li(class="active") #{name}
		div(class="container")
			div(id="map", style="height:400px; width:800px;")
			div(class="row")
				h2 Popular Attractions
				p Here is a list of the 8 most popular attractions in #{address} as provided by Google Maps.

				each val in attractions
					div(class="col-md-3 col-sm-4 col-xs-6")
						div(class="thumbnail")
							img(src=val.icon)

							div(class="caption")
								h5= val.name
								small= val.vicinity
								if val.rating
									p Rating: #{val.rating}
								else 
									p No rating
								button Pin to itinerary
									span(class="glyphicon glyphicon-pushpin")
			div(class="row")
				h2 Restaurants
				p Here is a list of the 8 most popular restaurants in #{address} as provided by Yelp.
				each val in restaurant
					div(class="col-md-3 col-sm-4 col-xs-5")
						div(class="panel panel-info")
							div(class="panel-body")
								button Pin to itinerary
									span(class="glyphicon glyphicon-pushpin")
								a(href=val.url, target="_blank")
									h5= val.name
									br
									small Rating:
										img(src=val.rating_img_url_small)
									br
									small= val.location.address
									br
									small= val.phone

			div(class="row")
				h2 5-day forecasts
				each val in weather
					div(class="col-md-2 col-sm-3 col-xs-4")
						h5= val.day
						p
							small= val.date
							br
							small High: #{val.high}°F
							br
							small Low: #{val.low}°F
							br
							small= val.text
				a(href="https://www.yahoo.com/?ilc=401", target="_blank")
					img(src="https://poweredby.yahoo.com/purple.png", width="134", height="29")
	